<div class="side-nav">
    <ul class="side-nav-list">
        <li class="text-center" [routerLink]="['/configuraion-filters']" routerLinkActive="active"><i class="icon-filter_list"></i> </li>
        <li class="text-center" [routerLink]="['/pre-production-data']" routerLinkActive="active"><i class="icon-av_timer"></i></li>
        <li class="text-center" [routerLink]="['/non-telco-partner']" routerLinkActive="active"><i class="icon-today"></i></li>
        <li class="text-center"><i class="icon-low_priority"></i></li>
        <li class="text-center"><i class="icon-check_circle_outline"></i></li>
    </ul>
</div>