<div class="container-fluid header">
    <div class="row justify-content-between">
        <div class="color-white heading-21">
            <img src="../../../assets/imgs/header-logo.svg" alt="" class="mt-2 ml-2 ">
            <span class="ml-3 logo-title">
            <span class="roboto-medium">orange</span>
            <span class="roboto-light"> WOO – GUI Tool</span>
            </span>
        </div>
        <div>
            <div class="mt-3 mr-1">
                <span>
                    <img src="../../../assets/imgs/girl.svg" alt="">
                </span>
                <p-dropdown [options]="cities" [(ngModel)]="selectedCity" class="header-dropdown" placeholder="Welcome Mona Ali" optionLabel="name" [showClear]="true"></p-dropdown>

            </div>
        </div>
    </div>
</div>