<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <table class="table configuration-table">
                <thead class="table-header">
                    <th scope="col">Error Number</th>
                    <th scope="col">Description</th>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row"> <img src="../../assets/imgs/error-icon.svg" alt="" class="mr-1"> 0225855</td>
                        <td>Will be started after 05 day 09 hour 22 mint one time </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>